# Multi-listener configuration

# DNS over UDP and TCP
[listeners.dns-udp]
address = "0.0.0.0:53"
protocol = "udp"
resolver = "default"

[listeners.dns-tcp]
address = "0.0.0.0:53"
protocol = "tcp"
resolver = "default"

# DNS over TLS (DoT)
[listeners.dot]
address = "0.0.0.0:853"
protocol = "dot"
resolver = "default"
certificate = "testdata/ca.crt"
private_key = "testdata/ca.key"

# DNS over HTTPS (DoH)
[listeners.doh]
address = "0.0.0.0:443"
protocol = "doh"
resolver = "default"
certificate = "testdata/ca.crt"
private_key = "testdata/ca.key"

# DNS over QUIC (DoQ)
[listeners.doq]
address = "0.0.0.0:8853"
protocol = "doq"
resolver = "default"
certificate = "testdata/ca.crt"
private_key = "testdata/ca.key"

# DNS over DTLS
[listeners.dtls]
address = "0.0.0.0:853"
protocol = "dtls"
resolver = "default"
certificate = "testdata/ca.crt"
private_key = "testdata/ca.key"

# Default resolver
[resolvers.default]
address = "1.1.1.1:53"
protocol = "udp"